html{
background-color: #333
}
.wrapper{
	line-height: 16px;
	position: fixed;
	right: 50px;
	bottom:50px;
	/*display: flex;
	display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    display: -moz-flex;
    -moz-flex-flow: column wrap;
        display: -ms-flex;
    -ms-flex-flow: column wrap;
        display: -o-flex;
    -o-flex-flow: column wrap;
    flex-flow: column wrap;*/
    z-index: 99;
}

#languages{
	display: block;
	cursor: pointer;
	margin-top: 13px;
	width: 40px;
	height: 30px;
	border-top: 2px #fff solid;
	border-bottom: 2px #fff solid;
	overflow: hidden;
	background-color: transparent;
	float: right;
	color:#fff;
}

.lang{
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	width: 40px;
	padding-top: 5px;
	transition: color 0.25s ease;
	-webkit-transition: color 0.25s ease;
	-moz-transition: color 0.25s ease;
}
.lang:hover{
	color: #ff0000;
}
.lang a{
	text-decoration: none;
	color: inherit;
}


#socwrap{
    display:block;
	color:#fff;
	cursor: pointer;
	opacity: 0;
	width: 0px;
	height: 30px;
	overflow: hidden;
	background-color: transparent;
	white-space: nowrap;
	position:relative;
	z-index:100;
	float: left;
}

#socwrap.fa{
	transition: opacity 0.3s 
	-webkit-transition: opacity 0.3s 
	-moz-transition: opacity 0.3s 
}
.G{
	margin-left: 5px;
	float: right;
}
.G img{
	width: 30px;
}
#socwrap::after{
	content: "";
	display: inline-block;
	clear: both
}

.sound{
    
	display: block;
	width: 33px;
	height: 33px;
	cursor: pointer;
	margin-bottom: 16px;
	position:absolute;
	right:0;
	top:-24px;
}

.sound button{
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	background-image: url(../img/white_on.svg);
	background-size: auto 32px;
	background-position: center;
	background-repeat: no-repeat;
}

.sound button:hover{
	background-image: url(../img/red_on.svg);
}

#kaplya{
    position:fixed;
    bottom:50px;
    left:50px;
    width:63px;
    height:auto;
    z-index:1000 !important;
}
